<div id="sidebar-container" class="sidebar-expanded col-2 d-none d-md-block">
  <mat-list style="width:200px;">
    <h3 md-subheader>員工專區</h3>
    <button md-button routerLink="">
      <mat-list-item>
        <mat-icon md-list-icon>today</mat-icon>
        <h4 md-line>行 事 曆</h4>
      </mat-list-item>
    </button>
    <button md-button routerLink="">
      <mat-list-item>
        <mat-icon md-list-icon>contact_phone</mat-icon>
        <h4 md-line>通 訊 錄</h4>
      </mat-list-item>
    </button>
    <button md-button routerLink="">
      <mat-list-item>
        <mat-icon md-list-icon>border_color</mat-icon>
        <h4 md-line>工作日誌</h4>
      </mat-list-item>
    </button>
    <button md-button routerLink="">
      <mat-list-item>
        <mat-icon md-list-icon>playlist_add_check</mat-icon>
        <h4 md-line>待辦事項</h4>
      </mat-list-item>
    </button>
    <button md-button routerLink="">
      <mat-list-item>
        <mat-icon md-list-icon>cloud_download</mat-icon>
        <h4 md-line>檔案下載</h4>
      </mat-list-item>
    </button>
    <button md-button routerLink="">
      <mat-list-item>
        <mat-icon md-list-icon>weekend</mat-icon>
        <h4 md-line>請  假</h4>
      </mat-list-item>
    </button>
    <button md-button routerLink="">
      <mat-list-item>
        <mat-icon md-list-icon>attach_money</mat-icon>
        <h4 md-line>差旅報支</h4>
      </mat-list-item>
    </button>
  </mat-list>
</div>
